# Force Verilog as the primary language
*.v linguist-language=Verilog

# Completely ignore documentation and scripts from language statistics
*.pdf linguist-documentation=true
*.do linguist-vendored=true
*.xdc linguist-vendored=true
